#container {
    display: flex;
    flex-wrap: wrap;
    background-color: darkgray;
}

.repo {
    
    justify-content: space-between;
    border-radius: 10px;
    background-color: lightgray;
    padding: 10px;
    
    align-items: center;
  
    
    margin: 10px;
    width: 25%;
    height: 300px;
}

p {
    text-align: justify;
}