p {
    font-family: verdana;
    font-size: 20px;
}



h1,
h2,
h3,
h4,
h5,
h6 {
    color: #a4a400;
    background-color: #f0f0f0;
    font-family: 'Lucida Sans Unicode', 'Helvetica', 'Arial', 'sans-serif';
    font-size: 18pt;
    text-align: left;
    text-decoration: underline;
    display:inline;
}

h1 {
    
    font-size: 22pt;
    font-weight: bold;
    display:block;
    text-align: center;
}

body,p {
    background-color: white;
    background-image: url("silverware.jpg");
    background-attachment: fixed;
    color: #404040;
    font-size: 11pt;
    font-family: 'Georgia';
    
}



a {
    color: #a4a400;
}

#markedout {
    text-decoration: line-through;
}

div.Copyright {
    
    font-family: 'monospace';
}

div.quotes {
    font-style: italic;
    background-color: #FFFFA8;

}
